<div class="text-center">
    <ul class="text-container">
        <li><h1>Интернета хватит на всех</h1></li>
        <li><p class="first_text">Даже если все дома. Онлайн спорт, школа, работа, кинотеатр, прямые эфиры, игры и соцсети. Стабильный Интернет для каждого и на всех устройствах.</p></li>
        <li>
            <button type="button" class="btn btn-primary">Оставить заявку на подключение</button>
            <button type="button" class="btn btn-primary">Я уже клиент</button>
        </li>
    </ul>
</div>
<div class="space-container"></div>

<div class="BestTariffs">
    <div class="card item" style="width: 18rem;" id="first_tariff">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <div class="card-body">
            <h4 class="card-title">Тариф "Стартовый"</h4>
            <p class="card-text description">Домашний интернет</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item price">300&#8381;/мес</li>
          <li class="list-group-item gb">50 МБит/c + Wi-Fi роутер</li>
        </ul>
        <div class="card-body">
            <button asp-page="/" type="button" class="btn btn-primary BT-request">Подключить</button>
        </div>
    </div>

    <div class="card item" style="width: 18rem;" id="second_tariff">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <div class="card-body">
            <h4 class="card-title">Тариф "Безлимит"</h4>
            <p class="card-text description">Домашний интернет</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item price">450&#8381;/мес</li>
            <li class="list-group-item gb">100 Мбит/с</li>
        </ul>
        <div class="card-body">
            <button asp-page="/" type="button" class="btn btn-primary BT-request">Подключить</button>
        </div>
    </div>

    <div class="card item" style="width: 18rem;" id="third_tariff">
        @*<img class="card-img-top" src="..." alt="Card image cap">*@
        <div class="card-body card-head">
            <h4 class="card-title">Тариф "Домашний"</h4>
            <p class="card-text description">Домашний интернет</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item price">600&#8381;/мес</li>
            <li class="list-group-item gb">70 Мбит/с + безлимитные мессенджеры</li>
        </ul>
        <div class="card-body">
            <button asp-page="/" type="button" class="btn btn-primary BT-request">Подключить</button>
        </div>
    </div>
</div>
<div class="offers-request">
    <h2 class="offers-request-text">Подключись сейчас и получи мобильное ТВ в подарок</h2>
    <button asp-page="/" type="button" class="btn btn-primary offers-request-text">Оставить заявку на подключение</button>
</div>
